@charset "UTF-8";
/* CSS Document */

html,
body {
	margin:0px; 
	padding:0px;
}

#main_wrapper {
	margin:0px auto;
	background:url('../images/bg.jpg');
	min-width:1024px;
	min-height:768px;
	width:100%;
	height:100%;
}

#header { background-color:#50c2e9; padding:10px 20px;}

#header .menu_control { float: left; width: 33%; text-align:left;  margin: 0px;}

#header .logo { display: inline-block; width: 33%; text-align:center; }

#header .help { float: right; width: 33%; text-align:right;  margin: 0px;}

#question_wrapper { padding:20px;}

#question_wrapper .question {}

#question_wrapper .question h3 { margin:10px 0px;}

.white_box {
background-color:#ffffff;
padding:10px;
border: 2px solid #000000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.yellow_box {
background-color:#ffd841;
padding:10px;
border: 2px solid #000000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#content { padding:20px;}

#steps_wrapper {
  margin-left: 200px;
}
#content_column {
  float: right;
  width: 100%;
}
#steps_sidebar {
  float: left;
  width: 200px;
  margin-left: -200px;
}
#cleared {
  clear: both;
}

.btn_step {
	background:url('../images/step.png');
	background-size:100%;
	background-repeat:no-repeat;
	width:86px;
	height:60px;
	font-weight:bold;
	margin:10px 20px;
	padding:20px 0 0 20px;
}

.btn_step a {
	color:#000000;
	text-decoration:none;
	cursor: pointer;
	
}

.highlight {
	background-color: #eaa873;
}

table.calculation {
	width:80%;
}

table.calculation td{
	font-size:110%;
	padding:20px 10px;
	text-align:center;
	vertical-align:middle;
}

table.calculation input[type="text"] {
  padding: 10px;
  border: solid 1px #000000;
  transition: box-shadow 0.3s, border 0.3s;
}
table.calculation input[type="text"]:focus,
table.calculation input[type="text"].focus {
  border: solid 1px #000000;
  box-shadow: 0 0 5px 1px #969696;
}

.info {
	width:100%;
	/*margin-top:20px;*/

}

.info h4 {
	display:block;
	border-bottom:1px solid #000000;
	margin:10px;
}

.info ul {
    list-style: none;
    padding:0;
    margin:0;
}

.info li { 
    padding: 5px 0px 5px 20px ; 
    text-indent: -.7em;
}

.info li:before {
    content: "★ ";
    color: #aa6708; /* or whatever color you prefer */
}

/*Pratice page style*/
.drop {
    background: #fff;
    height: 45px;
    text-align: center;
    border-radius: 10px;
}

.drap-wrapper {
    width: 500px;
    margin: 70px 0px 0px 70px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 20px;
}

.drap-wrapper .btn {
	cursor:move;
	min-width: 88px;
    padding: 4px 10px;
}