<div class="calculation_wrapper">
    <table class="calculation" cellpadding="0" cellspacing="0" border="0px">
      <tr>
            <td> </td>
            <td>Before</td>
            <td>Change</td>
            <td>After</td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
          <td>J</td>
          <td><input ng-model="example2.inputbefore.one" name="before1" type="text" class="textbox" /></td>
          <td>x{{example2.change.one}}</td>
          <td><input ng-model="example2.after.one" namge="before2" type="text" class="textbox" /></td>
          <td rowspan="2"></td>
          <td rowspan="2">+{{example2.final}}</td>
      </tr>
        <tr>
          <td>K</td>
          <td><input ng-model="example2.inputbefore.two" name="before2" type="text" class="textbox" /></td>
          <td>x{{example2.change.two}}</td>
          <td><input ng-model="example2.after.two" name="after2" type="text" class="textbox" /></td>
      </tr>
    </table>
</div>
<div class="info_wrapper">
	<div ng-show="step1" class="info yellow_box animated  fadeIn">
    	<h4>Input the information : </h4>
        <ul>
        	<li>{{example2.inputinfo.one}}</li>
            <li>{{example2.inputinfo.two}}</li>
            <li>{{example2.inputinfo.three}}</li>
        </ul>
    </div>
    <div ng-show="step2" class="info yellow_box animated  fadeIn">
        <h4>Determine the links</h4>
    </div>
    <div ng-show="step3" class="info yellow_box animated fadeIn">
        <table class="table table-bordered">
            <tr>
                <td>Ratio</td>
                <td>{{example2.variables.one}}:{{example2.variables.two}}</td>
            </tr>
            <tr>
                <td>Input 'Before' Units</td>
                <td>{{example2.inputbefore.one}}:{{example2.inputbefore.two}}</td>
            </tr>
            <tr>
                <td>Adjust 'Before' Units</td>
                <td>{{example2.adjustbefore.one}}:{{example2.adjustbefore.two}}</td>
            </tr>
            <tr>
                <td>Workout the 'After' Units</td>
                <td>{{example2.after.one}}:{{example2.after.two}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="step4" class="info yellow_box animated fadeIn">
        <h4>Complete the Equal Model and find 1 unit</h4>
        <table class="table table-bordered">
            <tr>
                <td>{{example2.after.one}}u</td>
                <td>{{example2.final}}</td>
                
            </tr>
            <tr>
                <td colspan="2">{{example2.after.two}}u</td>
            </tr>
        </table>
        <code>{{example2.after.one}}u + {{example2.final}} = {{example2.after.two}}u</code><br/>
        <code>{{example2.after.two}}u - {{example2.after.one}}u = {{example2.final}}</code><br/>
        <code>{{example2.after.two - example2.after.one}}u = {{example2.final}}</code><br/>
        <code>u = {{example2.final}} / {{example2.after.two - example2.after.one}} = {{factor}} </code>
    </div>
    <div ng-show="step5" class="info yellow_box animated fadeIn">
        <h4>Answer the question</h4>
        <p>How much money Jonathan spend?</p><br/>
        <code>{{example2.adjustbefore.one}}u - {{example2.after.one}}u = {{example2.adjustbefore.one - example2.after.one}}u</code><br/>
        <code>{{example2.adjustbefore.one - example2.after.one}}u = {{factor * (example2.adjustbefore.one - example2.after.one)}}</code><br/>
        <code>{{example2.adjustbefore.one - example2.after.one}}u = {{factor * (example2.adjustbefore.one - example2.after.one)}}</code><br/>
        <code>u =  {{factor * (example2.adjustbefore.one - example2.after.one)/(example2.adjustbefore.one - example2.after.one)}}</code>
    </div>
</div>