<div id="main_wrapper">
    	<div id="body_wrapper">
        	<div id="header">
            	<div class="menu_control">
                	<a href="#/pratice" ng-click="active('5')" class="btn btn-default" >Pratice</a>
                </div>
                <div class="logo">
                	<img src="images/logo.png" width="158px" />
                </div>
                
                <div class="help">
                	<a href="#/learn" ng-click="active('5')" class="btn btn-default" >Learn</a>
                </div>
            </div>
            
           
            <div id="body">
            	<div id="question_wrapper">
                	<div class="question white_box">
                    	<h3>Example 1</h3>
                    	<p><span>
Gwen and Henry shared some sweets in the ratio of 9 : 5</span>. <span>Gwen gave away 5/6 of her sweets while Henry bought some more sweets to double the number that he initially had.</span> In the end, Henry had 34 more sweets than Gwen. How many sweets did Gwen have at first? 
                        </p>
                    </div>
                </div>
                <div id="content">
                    <div id="steps_wrapper">
                        <div id="steps_sidebar">
                            <div class="steps">
                                
                                <div ng-click="highlight('1')" id="s1" class="btn_step"><a>Step 1</a></div>
                                <div ng-click="highlight('2')" id="s2" class="btn_step"><a>Step 2</a></div>
                                <div ng-click="highlight('3')" id="s3" class="btn_step"><a>Step 3</a></div>
                                <div ng-click="highlight('4')" id="s4" class="btn_step"><a>Step 4</a></div>
                                <div ng-click="highlight('5')" id="s5" class="btn_step"><a>Step 5</a></div>
                            </div>
                        </div>
                        <div id="content_column">
                       	 	<div ng-view></div>
                        </div>
                        <div id="cleared"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>