  <a href="#/example-1" ng-click="load('1')" class="btn btn-default btn-lg">Example-1</a>
  <a href="#/example-2" ng-click="load('2')" class="btn btn-default btn-lg">Example-2</a>

  <!-- <div class="row-fluid">

    <div class="col-md-4">
      <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list1"  jqyoui-droppable style='height:50px;'>
        <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid',cursorAt: { left: 5 }}" ng-model="list1" jqyoui-draggable="{animate:false}" ng-hide="!list1.title">{{list1.title}}
        </div>
        <span>List 1 Model:{{list1}}</span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable style='height:50px;'>
        <div class="btn btn-primary" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{animate:false}" ng-hide="!list2.title">{{list2.title}}
        </div>
        <span>List 2 Model:{{list2}}</span>
      </div>
    </div>

  </div> -->

  <div class="clearfix"></div>
  <!-- <div class="fixed-red-bg" ui-draggable="true" drag="1" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(1, $data)" drop-validate="dropValidate(1, $data)">
  </div>
    
  <div class="fixed-green-bg" ui-draggable="true" drag="2" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(2, $data)" drop-validate="dropValidate(2, $data)">
  </div>

  <div class="fixed-blue-bg" ui-draggable="true" drag="3" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(3, $data)" drop-validate="dropValidate(3, $data)">
  </div> -->
  

  <div class="row-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
          <p>{{question}}</p>
        </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-md-2">
      <a href="#/uitest" ng-click="active('ui')" class="btn btn-default btn-block {{ui}}" >ui-test</a>
      <a href="#/step-1" ng-click="active('1')" class="btn btn-default btn-block {{step1}}" >Step-1</a>
      <a href="#/step-2" ng-click="active('2')" class="btn btn-default btn-block {{step2}}" >Step-2</a>
      <a href="#/step-3" ng-click="active('3')" class="btn btn-default btn-block {{step3}}" >Step-3</a>
      <a href="#/step-4" ng-click="active('4')" class="btn btn-default btn-block {{step4}}" >Step-4</a>
      <a href="#/step-5" ng-click="active('5')" class="btn btn-default btn-block {{step5}}" >Step-5</a>
    </div>

    <!-- Choose:
    <a href="#/Book/Moby">Moby</a> |
    <a href="#/Book/Moby/ch/1">Moby: Ch1</a> |
    <a href="#/Book/Gatsby">Gatsby</a> |
    <a href="#/Book/Gatsby/ch/4?key=value">Gatsby: Ch4</a> |
    <a href="#/Book/Scarlet">Scarlet Letter</a><br/> -->

    <div class="col-md-10">
      <div ng-view></div>
    </div>
    <hr />

  </div>

  

  
