
  <table class="calculation" cellpadding="0" cellspacing="0" border="0px">
        <tr>
          <td> </td>
          <td>Before</td>
          <td>Change</td>
          <td>After</td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td>J</td>
          <td>
            <div class="drop" data-drop="true" ng-model='list1' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div class="btn info yellow_box btn-draggable" ng-repeat="item in list1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:false}">{{item.title}}</div>
                    
                  </div>
                </div>
          </td>
          <td>x{{example2.change.one}}</td>
          <td>
            <div class="drop">
              Drop Here
            </div>
          </td>
          <td rowspan="2"></td>
          <td rowspan="2">+{{example2.final}}</td>
      </tr>
        <tr>
          <td>K</td>
          <td>
            <div class="drop">
              Drop Here
            </div>
          </td>
          <td>x{{example2.change.two}}</td>
          <td>
            <div class="drop">
            Drop Here
            </div>
          </td>
      </tr>
    </table>

<!-- Drag buttons -->
 <div class="drap-wrapper">
  <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
    <div  class="btn info yellow_box btn-draggable " data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}" ng-hide="!item.title">{{item.title}}
    </div>
  </div>
</div>