<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

    	<div class="col-md-2">
 
			  <div class="form-group">
			    <label for="">Variables</label>
			    <input readonly type="text" class="form-control" placeholder="{{variableone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{variabletwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Before</label>
			    <input readonly type="text" class="form-control">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Change</label>
			    <input readonly type="text" class="form-control"  placeholder="x {{changeone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control"  placeholder="x {{changetwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">After</label>
			    <input readonly type="text" class="form-control">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control">
			  </div>

    	</div>
    	<div class="col-md-2">
		  
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="+{{final}}">
			  </div>

    	</div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
    	<h4 class="animated  fadeIn">Determine the links</h4>

    </div>
  </div>
</div>