<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

    	<div class="col-md-2">
 
			  <div class="form-group">
			    <label for="">Variables</label>
			    <input readonly type="text" class="form-control" placeholder="{{variableone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{variabletwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Before</label>
			    <input readonly type="text" class="form-control" placeholder="{{inputbeforeone}}u">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{inputbeforetwo}}u">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Change</label>
			    <input readonly type="text" class="form-control"  placeholder="x {{changeone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control"  placeholder="x {{changetwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">After</label>
			    <input readonly type="text" class="form-control" placeholder="{{afterone}}u">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{aftertwo}}u">
			  </div>

    	</div>
    	<div class="col-md-2">
		  
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="+{{final}}">
			  </div>

    	</div>

    </div>

    <div class="clearfix"></div>
    <div class="row">
    	<h4>Complete the Equal Model and find 1 unit</h4>
    	<div class="col-md-6">
	    	<table class="table table-bordered animated fadeIn">
	    		<tr>
	    			<td>{{afterone}}u</td>
	    			<td>{{final}}</td>
	    			
	    		</tr>
	    		<tr>
	    			<td colspan="2">{{aftertwo}}u</td>
	    		</tr>
	    	</table>
    	</div>

    	<div class="col-md-6 animated fadeIn">
    		{{calculate(afterone,aftertwo,final)}}
    		<code>{{afterone}}u + {{final}} = {{aftertwo}}u</code><br/>
    		<code>{{aftertwo}}u - {{afterone}}u = {{final}}</code><br/>
    		<code>{{aftertwo - afterone}}u = {{final}}</code><br/>
    		<code>u = {{final}} / {{aftertwo - afterone}} = {{factor}} </code>
    	</div>
    </div>

  </div>
</div>