<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

    	<div class="col-md-2">
 
			  <div class="form-group">
			    <label for="">Variables</label>
			    <input readonly type="text" class="form-control" placeholder="{{variableone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{variabletwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Before</label>
			    <input readonly type="text" class="form-control" placeholder="{{inputbeforeone}}u">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{inputbeforetwo}}u">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Change</label>
			    <input readonly type="text" class="form-control"  placeholder="x {{changeone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control"  placeholder="x {{changetwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">After</label>
			    <input readonly type="text" class="form-control" placeholder="{{afterone}}u">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{aftertwo}}u">
			  </div>

    	</div>
    	<div class="col-md-2">
		  
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="+{{final}}">
			  </div>

    	</div>

    </div>

    <div class="clearfix"></div>
    <div class="row">
    	<h4>Input the units</h4>
    	<div class="col-md-4">
	   		<table class="table">
	   			<tr class="animated  fadeIn">
	   				<td>Ratio</td>
	   				<td>{{variableone}}:{{variabletwo}}</td>
	   			</tr>
	   			<tr class="animated  fadeIn">
	   				<td>Input 'Before' Units</td>
	   				<td>{{inputbeforeone}}:{{inputbeforetwo}}</td>
	   			</tr>
	   			<tr class="animated  fadeIn">
	   				<td>Adjust 'Before' Units</td>
	   				<td>{{inputadjustone}}:{{inputadjusttwo}}</td>
	   			</tr>
	   			<tr class="animated  fadeIn">
	   				<td>Workout the 'After' Units</td>
	   				<td>{{afterone}}:{{aftertwo}}</td>
	   			</tr>
	   		</table>	
    	</div>
    </div>

  </div>
</div>