<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

    	<div class="col-md-2">
 
			  <div class="form-group">
			    <label for="">Variables</label>
			    <input readonly type="text" class="form-control" placeholder="{{variableone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{variabletwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Before</label>
			    <input readonly type="text" class="form-control" placeholder="{{inputbeforeone}}u">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{inputbeforetwo}}u">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">Change</label>
			    <input readonly type="text" class="form-control"  placeholder="x {{changeone}}">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control"  placeholder="x {{changetwo}}">
			  </div>

    	</div>
    	<div class="col-md-2">

			  <div class="form-group">
			    <label for="">After</label>
			    <input readonly type="text" class="form-control" placeholder="{{afterone}}u">
			  </div>
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="{{aftertwo}}u">
			  </div>

    	</div>
    	<div class="col-md-2">
		  
			  <div class="form-group">
			    <input readonly type="text" class="form-control" placeholder="+{{final}}">
			    <input type="hidden"  class="form-control" placeholder="+{{final}}">

			  </div>

    	</div>

    </div>

    <div class="clearfix"></div>
    <div class="row">
    	<h4>Answer the question</h4>

    	<div class="col-md-6">
    	<span>How much money Jonathan spend?</span><br/>
    		
    		{{calculate(afterone,aftertwo,final)}}
    		
    		<code class="animated  fadeIn">{{inputadjustone}}u - {{afterone}}u = {{inputadjustone - afterone}}u</code><br/>
    		<code class="animated  fadeIn">{{inputadjustone - afterone}}u = {{factor * (inputadjustone - afterone)}}</code><br/>
    		<code class="animated  fadeIn">{{inputadjustone - afterone}}u = {{factor * (inputadjustone - afterone)}}</code><br/>
    		<code class="animated  fadeIn">u =  {{factor * (inputadjustone - afterone)/(inputadjustone - afterone)}}</code>
    	</div>
    </div>

  </div>
</div>