<style>
      .thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }

       .thumbnail[data-drag="false"] { background: green; }


</style>
<!-- 
<button class="btn btn-info" ng-click="highlight()">Step-1</button>
<button class="btn btn-info" ng-click="popup2()">Step-2</button> -->

          <div class="thumbnails">
              <div class="col-md-3" >
                <div class="thumbnail" data-drop="true" ng-model='list1' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true,onDrop:'onDrop'}">
                  <div class="caption">
                    <div class="btn btn-info btn-draggable" ng-repeat="item in list1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:false}">{{item.title}}</div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-3" >
                <div class="thumbnail" data-drop="true" ng-model='list2' data-jqyoui-options="optionsList2"  jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div class="btn btn-info btn-draggable" ng-repeat="item in list2" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:false}">{{item.title}}</div>
                    

                  </div>
                </div>
              </div>
              <div class="col-md-3" >
                <div class="thumbnail" data-drop="true" ng-model='list3' data-jqyoui-options="optionsList3"  jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div class="btn btn-info btn-draggable" ng-repeat="item in list3" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list3" jqyoui-draggable="{index: {{$index}},animate:false}">{{item.title}}</div>
                    

                  </div>
                </div>
              </div>
              <div class="col-md-3" >
                <div class="thumbnail" data-drop="true" ng-model='list4' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list4])'}"  jqyoui-droppable="{multiple:true}">
                  <div class="caption">
                    <div class="btn btn-info btn-draggable" ng-repeat="item in list4" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:false}">{{item.title}}</div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

    
        <div class="row">
          <div class="btn btn-droppable" ng-repeat="item in list5" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
            <div  class="btn btn-info btn-draggable droptest" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list5" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}" ng-hide="!item.title">{{item.title}}
            </div>
          </div>
        </div>



      <!-- <div class='contentWrapper ng-cloak'>
        <div class='content'>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li ng-repeat="item in list1" data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}, onDrop:'loki.dropCallback(item.title, $index)'}">
                <div class="thumbnail" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:false}">
                  <h1>
                    {{item.title}}
                  </h1>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
